<div class="about">
    <div class="nav">
      <p class="learn">Learn more about me...</p>

      <div class="cons">
        <div class="fcontainer">
          <div class="first">
            <div class="wrapper"> 
              <img src="assets/images/tel.jpg">
              <img src="assets/images/tel1.jpg">
              <img src="assets/images/tel2.jpg">
              <img src="assets/images/tel3.jpg">
            </div>
          </div>
        </div>

        <div class="container">
          <div class="second">
            <ul>
              <li>Name: <a>Crystel Ann Lonzon Gebe</a></li>
              <li>Birthdate: <a>November 03, 2001</a></li>
              <li>Birthplace: <a>Angeles City</a></li>
              <li>Education Attainment: <a>Bachelor of Science in Information Technology degree</a></li>
            </ul>
          </div> 

          <div class="third">
            <ul>
              <li>Interest: <a>Trying new things and exploring.</a></li>
              <li>Hobbies: <a>Playing, watching, reading, dancing and spending time with family.</a></li>
            </ul>
          </div> 
        </div>
    </div> 

      <div class="info"> 
        <div class="skills">
          <img src="assets/images/brain.png" alt="">
        </div>

        <div class="skills">
          <div class="box">
            <h2>Skills:</h2>
            <ul>
              <li>Problem Solving</li>
              <li>Communication</li>
              <li>Teamwork</li>
              <li>Organizational</li>
              <li>Time Management</li>
            </ul>
          </div>
        </div>

        <div class="strength">
          <img src="assets/images/fix.png" alt="">
        </div>

        <div class="strength"> 
          <div class="box">
            <h2>Strength:</h2>
            <ul>
              <li>Project Management</li>
              <li>Adaptibilty/Flexibility</li>
              <li>Attention to Detail</li>
              <li>Eager to Learn</li>
            </ul>
          </div>
        </div>

        <div class="weakness">
          <img src="assets/images/break.png" alt="">
        </div>

        <div class="weakness">
          <div class="box">
            <h2>Weakness:</h2>
            <ul>
              <li>Limited Experience</li>
              <li>Public Speaking</li>
              <li>Confidence</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="app">
        <h2>Computer Literate</h2>
        <div class="apps">
          <div class="html">
            <p>HTML</p>
            <img src="assets/images/html.png" alt="">
          </div>
          <div class="css">
            <p>CSS</p>
            <img src="assets/images/css.png" alt="">
          </div>
          <div class="unity">
            <p>Unity</p>
            <img src="assets/images/unity.png" alt="">
          </div>
          <div class="aseprite">
            <p>Aseprite</p>
            <img src="assets/images/aseprite.png" alt="">
          </div>
          <div class="ms">
            <p>MS Suite</p>
            <img src="assets/images/ms.png" alt="">
          </div>
          <div class="camtasia">
            <p>Camtasia</p>
            <img src="assets/images/cam.png" alt="">
          </div>
          <div class="filmora">
            <p>Filmora</p>
            <img src="assets/images/filmora.png" alt="">
          </div>
          <div class="canva">
            <p>Canva</p>
            <img src="assets/images/Canva.png" alt="">
          </div>
          <div class="powtoon">
            <p>Powtoon</p>
            <img src="assets/images/powtoon.png" alt="">
          </div>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer> 




