<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

<div class="head">     
    <nav class="name">
        <label for="check" id="checkbtn"><i class="fa fa-bars"></i></label>
        <p routerLink="/home">Personal Portfolio</p>
    </nav> 
    <aside class="right">
        <nav class="sidenav">
            <input type="checkbox" id="check">
            <ul>  
                <li routerLink="/home" (click)="hideSidenav()"><a>Home</a></li>
                <li routerLink="/aboutme" (click)="hideSidenav()"><a>About</a></li>
                <li routerLink="/past" (click)="hideSidenav()"><a>Projects</a></li>
                <li routerLink="/contacts" (click)="hideSidenav()"><a>Contacts</a></li> 
            </ul>
        </nav>
    </aside>    
</div>
