<div class="projects">
  <h3>Past Projects</h3>
    <div class="des">
      <h2>These are the past projects I created while taking courses in Web Systems and Game Development.</h2>
    </div>

    <div class="past">
      <div class="container"> 
        <div class="pro-container">
          <img class="fade" src="assets/images/wordle.png" alt="">
          <a class="blur" href="assets/projects/WORDLE FINAL (designed)/index.html">Wordle</a>
        </div>
        <div class="pro-container">
          <img class="fade" src="assets/images/women.png" alt="">
          <a class="blur" href="assets/projects/2_women in basket/lab2.html">Women in basket</a><br>
        </div>
        <div class="pro-container">
          <img class="fade" src="assets/images/Calculator.png" alt="">
          <a class="blur" href="assets/projects/7_Calculator/index.html">Calculator</a>
        </div> 
        <div class="pro-container">
          <img class="fade" src="assets/images/ROYGBIV.png" alt="">
          <a class="blur" href="assets/projects/5_roygbiv/roygbiv.html">ROYGBIV</a>
        </div> 
        <div class="pro-container">
          <img class="fade" src="assets/images/quiz.png" alt="">
          <a class="blur" href="assets/projects/8_Quiz App/index.html">Quiz</a>
        </div>
        <div class="pro-container">
          <img class="fade" src="assets/images/Search.png" alt="">
          <a class="blur" href="assets/projects/9_Search Bar/index.html">Search Bar</a>
        </div>
        <div class="pro-container">
          <img class="fade" src="assets/images/square.png" alt="">
          <a class="blur" href="assets/projects/4_color square.html">Color Square</a>
        </div>   
        <div class="pro-container">
          <img class="fade" src="assets/images/season.png" alt="">
          <a class="blur" href="assets/projects/1_Season/index.html">Season</a>
        </div>
        <div class="pro-container">
          <img class="fade" src="assets/images/limbo.jpg" alt="">
          <a class="blur" href="https://drive.google.com/file/d/1iQVXKxdd1EOD3NgAjrzxANGuQd07Var2/view?usp=drive_link">Limbo Logic</a>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer> 