<div class="container">
    <div class="wrapper">
        <div class="imgcontainer">
            <img src="assets/images/tel2.jpg" alt="">
        </div>
        
        <div class="description">
            <p class="name" >Crystel Ann L. Gebe</p>
            <p class="des" >Hello there! Welcome to my personal portfolio website. Here, you'll find a collection of my work and experiences. Take a look around and get to know me a little better!</p>
        </div>
    </div>
</div>
<app-footer></app-footer>


